/*@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@400;600 & display=swap');*/


.background_login {
    /*background-image: url('../images/pexels-igor-haritanovich-1695052.jpg');*/
    background-size: cover;
    background-attachment: fixed;
}


.container_login {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bloco_login {
    width: 300px;
    height: 370px;
    /*border-radius: 5px;*/
    background-color: white;
    margin: 60px 0px 80px 0px;
    box-shadow: 0px 0px 5px /*rgba(0, 0, 0, 0.836)*/ rgb(160, 82, 45);
    
}

.bloco_login h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background-color: /*#381e0f*/ rgb(160, 82, 45);
    color: white;
    border-radius: 3px 3px 0px 0px;
    font-weight: lighter;
}

.btn_login {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top: 50px;
    text-align: center;
}

.btn_login a {
    text-decoration: none;
    padding: 15px 60px;
    border-radius: 30px;
    background-color: /*black*/ rgb(160, 82, 45);
    color: white;
    transition: .5s ease;
    
}

.btn_login a:hover {
    border-radius: 5px;
    padding: 15px 80px;
    background-color: #381e0f;
}

.info_usuario {
    font-family: 'Montserrat', sans-serif;
    color: /*black*/ rgb(160, 82, 45);
    font-weight: bold;
    text-align: left;
    padding: 35px 0px 8px 27px;
}

.input_login {
    padding: 9px 18px;
    border-radius: 5px;
    outline: none;
    border: 1px solid /*rgb(0, 0, 0)*/ rgb(160, 82, 45);
    font-size: 17px;
}

.icone_login {
    display: none;
}

.icone_login img {
    width: 35px;
}

/* Conta usuário */

.container_user {
    width: 140px;
    height: 140px;
    margin: 20px auto;
}

.container_user img {
    width: 140px;
}

.btn_voltar {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.btn_voltar a {
    color:#005e67;
    border: 2px solid #005e67;
    border-radius: 10px;
    padding: 12px 70px;
    text-decoration: none;
    transition: .4s;
}

.btn_voltar a:hover {
    background-color: #005e67;
    color: white;
}

.btn_sair {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.btn_sair a {
    color: white;
    background-color: #cf1a1a;
    border-radius: 10px;
    padding: 12px 80px;
    text-decoration: none;
    transition: .4s;
}

.btn_sair a:hover {
    background-color: #801212;
}

.background_conta {
    background-color: #08080e;
}

.info_gmail_user {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}